.nav-container {
  height: 100%;
  .active {
    background-color: #00796b;
    color: white;
  }
}

.logo-container {
  display: inline-block;
  padding-right: 16px;
}

.active.mat-menu-item {
  background-color: #00796b !important;
  color: white !important;
}

::ng-deep.nav-buttons {
  .mat-button,
  .mat-icon-button {
    font-size: 0.8em;
  }
}

.logo {
  width: 50px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}

.nav-logo-title {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  display: inline-block;
  vertical-align: middle;
}

.nav-container .mat-toolbar {
  z-index: 6; //   justify-content: center !important;
}

.toolbar-mobile {
  justify-content: center;
  flex-direction: column;
}

.github-logo {
  width: 50px;
  height: auto;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 12px;
  margin-left: 12px;
}

.github-logo img {
  width: 60px;
  height: auto;
  vertical-align: text-bottom;
}

.player-text {
  font-size: 0.8em;
}
