<div
  class="player-form-container"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <form
    class="home-form"
    fxLayout="column"
    fxLayoutGap="10%"
    [formGroup]="playerInfoForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Player Name" formControlName="playerName" />
      <mat-hint>Choose a name</mat-hint>
      <mat-error *ngIf="playerName.hasError('required')">
        Please enter a name
      </mat-error>
      <mat-error *ngIf="playerName.hasError('maxlength')">
        Your is <strong>too long!</strong>
      </mat-error>
    </mat-form-field>
    <div class="form-action-buttons" fxLayout="row" fxFlexAlign="center">
      <button
        mat-raised-button
        [disabled]="playerInfoForm.invalid"
        color="primary"
        type="submit"
      >
        Continue
      </button>
    </div>
  </form>
</div>
